@model IEnumerable<ODM.Models.Product>

@{
    ViewBag.Title = "Products";
}

<style>
    .products__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .products__header {
        color: #3E8CF2;
    }

    .products__total {
        font-size: 18px;
    }

    .products__table {
        border-left: 0.5px solid #ccc;
        border-right: 0.5px solid #ccc;
    }
    
    .products__table tr {
        background-color: white !important;
    }

    .products__table .sorting_1 {
        background-color: white !important;
    }

    .products__table thead th {
        background-color: #3E8CF2;
    }

    .products__table tbody td:first-child {
        text-align: center;
        vertical-align: middle;
    }

    .products__table tbody td {
        vertical-align: middle;
        font-weight: 400;
    }

    #tableProduct_info {
        display: none;
    }

    #tableProduct_paginate {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tableProduct_paginate .paginate_button.current {
        font-weight: bold;
        border: 0;
        background: 0;
    }

    #tableProduct_paginate .paginate_button.previous {
        background-image: url("/Content/assets/chevron_left.svg");
        background-repeat: no-repeat;
        color: transparent !important;
        width: 20px;
        height: 20px;
        background-position: center;
        cursor: pointer;
    }

        #tableProduct_paginate .paginate_button.next {
            background-image: url("/Content/assets/chevron_right.svg");
            background-repeat: no-repeat;
            color: transparent !important;
            width: 20px;
            height: 20px;
            background-position: center;
            cursor: pointer;
        }

    .products__input {
        width: 100%;
        max-width: initial;
    }
    
</style>

<div class="products__heading">
    <div class="products__heading-left">
        <h2 class="products__header">Manage Devices</h2>
        <p class="products__total">Total: <strong id="prod_total">0</strong></p>
    </div>
    <p>
        @Html.ActionLink("Create new device", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>
<div class="table">
    <table class="display products__table" id="tableProduct">
        <thead>
            <tr>
                <th>
                   @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.installDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>

                <th></th>
            </tr>
        </thead>
        

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.installDay)
                    </td>
                    <td>
                        @if (item.status == false)
                        {
                            <strong class="text-success">
                                Available
                            </strong>
                        }
                        else
                        {
                            <strong class="text-danger">
                                Deployed
                            </strong>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("admin"))
                        {
                            <button class="btn btn-provide" data-id="@Html.DisplayFor(modelItem => item.id)" data-name="@Html.DisplayFor(modelItem => item.name)">
                                <img src="~/Content/assets/user_plus.svg" alt="Add" data-id="@Html.DisplayFor(modelItem => item.id)" data-name="@Html.DisplayFor(modelItem => item.name)"/>
                            </button>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.id }, new { @class = "btn button button__edit" })
                            @Html.ActionLink("Xóa", "Delete", new { id = item.id }, new { @class = "btn button button__delete" })
                        }
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.id }, new { @class = "btn button button__detail" })
                    </td>
                </tr>
            }
        </tbody>
        

    </table>
</div>



<div class="modal" id="provideDevice">
    <form>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Assign device to user</h4>

                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="name-product-provide">Device:</label>
                        <input type="text" id="name-product-provide" class="form-control products__input" disabled />
                    </div>


                    <div class="form-group">
                        <label for="username-provide">Username:</label>
                        <input type="text" id="username-provide" class="form-control products__input" placeholder="Search..." />
                        <ul class="list-group">
                        </ul>
                        <div id="localSearchSimple"></div>
                        <div id="detail-search"></div>
                    </div>

                    <div class="col-md-10 form-group" id="errorProvide">

                    </div>
                </div>


                <div class="modal-footer">

                    <input type="hidden" name='idProduct' id="id-prdduct-provide" disabled>
                    <input type="button" class="btn btn-primary" id="btn-provide-submit" value="Assign"/>
                    @*<button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>*@
                </div>
            </div>

        </div>
     </form>
</div>




<script>

    $(document).ready(function () {

        function animateValue(id, start, end, duration) {
            if (start === end) return;
            var range = end - start;
            var current = start;
            var increment = end > start ? 1 : -1;
            var stepTime = Math.abs(Math.floor(duration / range));
            var obj = document.getElementById(id);
            var timer = setInterval(function () {
                current += increment;
                obj.innerHTML = current;
                if (current == end) {
                    clearInterval(timer);
                }
            }, stepTime);
        }

        function setTotal() {
            var oTable = $("#tableProduct").DataTable();
            var info = oTable.page.info();
            var count = info.recordsDisplay;
            animateValue("prod_total",-100, count, 100)
        }
        setTotal();
    });
</script>