@model ODM.Models.User

@{
    ViewBag.Title = "Create Account";
}


<style>
    .user-create__header {
        color: #3E8CF2;
    }

    .user-create__container {
        width: 50%;
        margin: 40px auto 20px;
    }

    .user-create__control {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 20px;
    }

    .user-create__control > .control-label {
        font-size: 18px;
    }

    .user-create__control > .control-label::after {
        content: ":";
    }

    .user-create__control > div {
        width: 70%;
    }

    .user-create__input {
        width: 100%;
        max-width: initial;
    }

    .custom-file-label {
        color: #3E86E8;
    }

    .custom-file-label::after {
        content: '';
        display: none;
    }

    .user-create__buttons {
        display: flex;
        justify-content: flex-end;
    }

    .user-create__buttons > * {
        margin-left: 10px;
        padding: 8px 32px;
    }
</style>

<h2 class="user-create__header">Create New User</h2>

@using (Html.BeginForm("Add", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="user-create__container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.fullName, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control user-create__input" } })
                @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control user-create__input" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control user-create__input" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label " })
            <div class="">
                <div class="checkbox">
                    @*@Html.EditorFor(model => model.gender)*@
                    <select name="gender" id="gender" class="form-control user-create__input">
                        <option value="true">Male</option>
                        <option value="false">Female</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label " })
            <div class="">
                <input type="date" value="2000-01-01" min="1960-01-01" max="2000-12-31" class="form-control user-create__input" name="birthday" id="birthday">
                @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.avatar, htmlAttributes: new { @class = "control-label " })
            <div class="">
                <div class="custom-file">
                    <input type="file" class="custom-file-input user-create__input" id="customFile" name="file" accept="image/*" />
                    <label class="custom-file-label" for="customFile">Choose from folder</label>
                </div>
            </div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger col-md-6" role="alert">
                        @ViewBag.ErrorMessage
                    </div>
                </div>
            }
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="form-group">
                    <div class="alert alert-success col-md-6" role="alert">
                        @ViewBag.SuccessMessage
                    </div>
                </div>
            }
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.started, htmlAttributes: new { @class = "control-label " })
            <div class="">
                <input type="date" value="2020-01-01" min="2018-01-01" max="2021-11-1" class="form-control user-create__input" name="started" id="started">
                @Html.ValidationMessageFor(model => model.started, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control user-create__input", type = "password" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control user-create__input", type = "password" } })
                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group user-create__control">
            @Html.LabelFor(model => model.role_id, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.DropDownList("role_id", (SelectList)ViewBag.Role, null, new { @class = "form-control user-create__input" })
                @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group user-create__buttons">
            @Html.ActionLink("Cancel", "ListUser", null, new { @class = "btn btn-primary" })
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}